<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= __('TITLE') %></h1>
    <p>Welcome to <%= __('HELLO') %></p>
    <p><%= __('TEST %s','EJS') %></p>
    <p><%= test %></p>
    <p><%= __('TEST2 %s %s','ひとつ','ふたつ') %></p>
    <p><%= test2 %></p>
  </body>
</html>